[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lmeSplines"]
	path = lmeSplines
	url = https://github.com/agalecki/lmesplines
[submodule "nlmeU"]
	path = nlmeU
	url = https://github.com/agalecki/nlmeu
